.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  width: 200px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #3498db;
  outline: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.game-over {
  color: #e74c3c;
  font-size: 2rem;
}

.score {
  font-size: 1.25rem;
  margin-top: 20px;
}

.scrambled-word {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}
